/*carousel*/
/* Prevent the slideshow from flashing on load */
#carousel {
  display: none;
}
#carousel .slidesjs-container {
  height: 500px !important;
  padding-bottom: 10px;
}
/* Show active item in the pagination */
ul.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}
ul.slidesjs-pagination li {
  display: inline;
}
ul.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
ul.slidesjs-pagination li.slidesjs-pagination-item a {
  -webkit-transition: background-position 0 linear;
  -moz-transition: background-position 0 linear;
  -o-transition: background-position 0 linear;
  -ms-transition: background-position 0 linear;
  transition: background-position 0 linear;
}
ul.slidesjs-pagination li.slidesjs-pagination-item a.active {
  background-position: 0 -13px;
  -webkit-transition: background-position 0 linear;
  -moz-transition: background-position 0 linear;
  -o-transition: background-position 0 linear;
  -ms-transition: background-position 0 linear;
  transition: background-position 0 linear;
}
ul.slidesjs-pagination li.slidesjs-pagination-item a:hover {
  background-position: 0 -26px;
  -webkit-transition: background-position 0 linear;
  -moz-transition: background-position 0 linear;
  -o-transition: background-position 0 linear;
  -ms-transition: background-position 0 linear;
  transition: background-position 0 linear;
}
a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
  -webkit-transition: background-position 0 linear;
  -moz-transition: background-position 0 linear;
  -o-transition: background-position 0 linear;
  -ms-transition: background-position 0 linear;
  transition: background-position 0 linear;
}
a:hover.slidesjs-next,
a:hover.slidesjs-previous,
a:hover.slidesjs-play,
a:hover.slidesjs-stop {
  -webkit-transition: background-position 0 linear;
  -moz-transition: background-position 0 linear;
  -o-transition: background-position 0 linear;
  -ms-transition: background-position 0 linear;
  transition: background-position 0 linear;
}
/* Media quires for a responsive layout */
/* For tablets & smart phones */
@media (max-width: 767px) {
  #carousel-sec {
    width: auto;
  }
  #carousel .slidesjs-container {
    height: 500px !important;
  }
}
/* For smartphones */
@media (max-width: 480px) {
  #carousel-sec {
    width: auto;
  }
  #carousel .slidesjs-container {
    height: 500px !important;
  }
}
/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  #carousel-sec {
    width: 724px;
  }
  #carousel .slidesjs-container {
    height: 500px !important;
  }
}
/* For larger displays */
@media (min-width: 1200px) {
  #carousel-sec {
    width: 1170px;
  }
  #carousel .slidesjs-container {
    height: 500px !important;
  }
}
