/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 480px) {
  /* Styles */
  ul.sf-menu {
    height: auto;
  }
  ul.sf-menu li ul.children {
    position: static;
  }
  .sf-menu {
    float: none;
  }
  .sf-menu ul {
    position: static;
  }
  .sf-menu li {
    float: none;
  }
  .sf-navbar {
    padding-bottom: 2.5em;
  }
  .sf-navbar li ul {
    width: auto;
  }
  .sf-navbar ul li {
    float: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Styles */
}
@media only screen and (min-width: 769) and (max-width: 1024px) {
  /* Styles */
}
@media only screen and (min-width: 1025) and (max-width: 1600px) {
  /* Styles */
}
@media only screen and (min-width: 1601) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
