/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    https://github.com/dmitryf
    More info at: http://lesselements.com
    License: This work is dedicated to the public domain and is free for all uses, commercial or otherwise. No form of credit required.
  ---------------------------------------------------*/
/**
 * OO NAOK COLORS
 */
/******************************
THE SEMANTIC GRID
http://semantic.gs/
*******************************/
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.entry-content ol li {
  color: #3c3c3b;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5em;
}
.entry-content ul li {
  color: #3c3c3b;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5em;
}
code {
  font-family: 'Source Code Pro', sans-serif;
}
h1 {
  color: #08618f;
  font-size: 2.1em;
  font-weight: 600;
  line-height: 1.2;
}
.widget-title {
  color: #08618f;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.5em;
}
/*li.recentcomments {
	color: @greenmid;
	font-size: 1.1em;
	a {
		font-size: 1.1em;
	}
}

.widget-area {
	a:-webkit-any-link {
	color: @greenmid;
	font-size: inherit;
	font-weight: 600;
	line-height: 1.7em;
	text-decoration: none;
	cursor: auto;
}
}*/
.widget-area a:hover {
  color: #348d43;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
h1#title {
  color: #08618f;
  font-size: 5em;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -2px;
}
h2 {
  color: #08618f;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.5em;
}
h3 {
  color: #08618f;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em;
}
h4 {
  color: #08618f;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.5em;
}
h4 a:link {
  color: #5aa332;
  text-decoration: none;
  font-weight: 700;
}
h4 a:visited {
  color: #98c230;
  text-decoration: none;
  font-weight: 700;
}
h4 a:active {
  color: #348d43;
  text-decoration: none;
  font-weight: 700;
}
h4 a:hover {
  color: #348d43;
  text-decoration: none;
  font-weight: 700;
}
p {
  color: #3c3c3b;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5em;
}
p a:link {
  color: #5aa332;
  text-decoration: none;
  font-weight: 400;
}
p a:visited {
  color: #98c230;
  text-decoration: none;
  font-weight: 400;
}
p a:active {
  color: #348d43;
  text-decoration: none;
  font-weight: 400;
}
p a:hover {
  color: #348d43;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
p strong {
  font-weight: 400;
  color: #000000;
}
p em {
  font-style: italic;
}
footer a {
  color: #5aa332;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.7em;
  text-decoration: none;
  cursor: auto;
}
footer a:hover {
  color: #348d43;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* --- styles.less overwrite --- */
#site-title span#blogname {
  color: #08618f;
  line-height: 1.2;
  margin-left: 0px;
  height: 4em;
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  font-weight: 700;
  vertical-align: middle;
  letter-spacing: -1px;
}
#site-title span#blogname img#logo {
  height: 100px;
  width: 100px;
  padding-right: 0.2em;
  vertical-align: middle;
  text-align: center;
}
ul#desktop-search {
  list-style-type: none;
  position: absolute;
  float: right;
  top: -10px;
  right: 50px;
}
ul#desktop-search li {
  float: right;
}
ul#desktop-search li i {
  float: right;
  color: #ecdfcb;
  font-size: 1.6em;
  text-align: right;
  margin-top: 0.1em;
}
ul#desktop-search li#searchfield {
  display: none;
}
/* --- styles.less overwrite ENDE --- */
.sf-navbar {
  background: #e11714;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b81714), color-stop(1, #e11714));
  background: -ms-linear-gradient(bottom, #b81714, #e11714);
  background: -moz-linear-gradient(center bottom, #b81714 0%, #e11714 100%);
  background: -o-linear-gradient(#e11714, #b81714);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e11714', endColorstr='#b81714', GradientType=0);
  -moz-box-shadow: inset 0px 1px 0px 0px #e94d1d;
  -webkit-box-shadow: inset 0px 1px 0px 0px #e94d1d;
  box-shadow: inset 0px 1px 0px 0px #e94d1d;
  height: 2.8em;
}
.sf-navbar li ul.children {
  top: 45px;
}
.sf-navbar a {
  color: #ecdfcb;
  text-shadow: 0px 1px 0px #8d1a1e;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
}
.sf-navbar a,
.sf-navbar a:visited {
  color: #ecdfcb;
}
.sf-navbar a:hover {
  color: #ffffff;
  text-shadow: 0px 1px 0px #8d1a1e;
  background: #b81714;
  -moz-box-shadow: inset 0px 1px 0px 0px #e94d1d;
  -webkit-box-shadow: inset 0px 1px 0px 0px #e94d1d;
  box-shadow: inset 0px 1px 0px 0px #e94d1d;
}
.sf-navbar ul li {
  background: #5aa332;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #348d43), color-stop(1, #5aa332));
  background: -ms-linear-gradient(bottom, #348d43, #5aa332);
  background: -moz-linear-gradient(center bottom, #348d43 0%, #5aa332 100%);
  background: -o-linear-gradient(#5aa332, #348d43);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5aa332', endColorstr='#348d43', GradientType=0);
  -moz-box-shadow: inset 0px 1px 0px 0px #98c230;
  -webkit-box-shadow: inset 0px 1px 0px 0px #98c230;
  box-shadow: inset 0px 1px 0px 0px #98c230;
  height: 3em;
}
.sf-navbar ul li a {
  color: #ecdfcb;
  text-shadow: 0px 1px 0px #348d43;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
}
.sf-navbar ul li a,
.sf-navbar ul li a:visited {
  color: #ecdfcb;
}
.sf-navbar ul li a:hover {
  color: #ffffff;
  background: #348d43;
  -moz-box-shadow: inset 0px 1px 0px 0px #98c230;
  -webkit-box-shadow: inset 0px 1px 0px 0px #98c230;
  box-shadow: inset 0px 1px 0px 0px #98c230;
}
/*****************************
//IN SEARCHFORM.PHP
******************************/
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  color: #a89b87;
  padding-left: 0.7em;
}
.ui-widget form#searchform input.ui-autocomplete-input {
  width: 110px;
  height: 27px;
  margin-top: 0.1em;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-widget form#searchform input:focus {
  background-color: #ecdfcb;
}
input,
input[type="password"],
input[type="search"],
isindex {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: #ecdfcb;
  border: 1px solid #b81714;
  border-image: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}
/*end widget*/
/*****************************
//END OF SEARCHFORM.PHP
******************************/
ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all li.ui-menu-item a.ui-corner-all {
  font-size: 1.1em;
  font-weight: 600;
  color: #b9ac98;
}
/**
 * RESET some JQUI stuff to get rid of the 
 * background image that gets included in the jqui css
 */
.ui-widget-content,
.ui-widget-header,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  background: #ecdfcb !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  color: #b9ac98;
  padding-left: 0.7em;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
span.ui-helper-hidden-accessible {
  visibility: hidden;
  display: none;
}
/*****************************
// END OF JQUI OVERWRITE
******************************/
