/**
 * My personal mixins
 */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    https://github.com/dmitryf
    More info at: http://lesselements.com
    License: This work is dedicated to the public domain and is free for all uses, commercial or otherwise. No form of credit required.
  ---------------------------------------------------*/
/*********************************
 * OVERWRITE SUPERFISH
 **********************************/
ul.sf-menu {
  background-color: #000000;
  margin-bottom: 0px;
  width: 100%;
}
ul.sf-menu a {
  color: #ffffff;
}
ul.sf-menu a:visited {
  /* visited pseudo selector so IE6 applies text colour */

  color: #ffffff;
}
ul.sf-menu li {
  display: inline;
  position: relative;
  text-shadow: 0px -1px 0px #000000;
  text-shadow: 0px 1px 0px #bc3137;
}
ul.sf-menu li ul.children {
  width: auto;
  text-align: center;
  font-size: 80%;
  display: inline;
  position: absolute;
  top: 35px;
  left: 0;
  white-space: nowrap;
  background-color: green;
}
ul.sf-menu li li {
  display: inline;
}
ul.sf-menu.sf-navbar {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.sf-navbar {
  padding-bottom: 0px;
}
/*****************************
JQERY UI OVERWRITE
******************************/
/*****************************
//IN SEARCHFORM.PHP
******************************/
.ui-widget form#searchform input.ui-autocomplete-input {
  width: inherit;
  height: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-widget form#searchform input:focus {
  background-color: #eeeeee;
}
/*end widget*/
/*****************************
//END OF SEARCHFORM.PHP
******************************/
ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all li.ui-menu-item a.ui-corner-all {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
}
ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all li.ui-menu-item a.ui-corner-all:hover {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/**
 * RESET some JQUI stuff to get rid of the 
 * background image that gets included in the jqui css
 */
.ui-widget-content,
.ui-widget-header,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  background: #ffffff !important;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
span.ui-helper-hidden-accessible {
  visibility: hidden;
  display: none;
}
/*****************************
// END OF JQUI OVERWRITE
******************************/