/*carousel*/


//mixon for the transition
.the-transition(@time:0s){
    -webkit-transition: background-position @time linear;
    -moz-transition: background-position @time linear;
    -o-transition: background-position @time linear;
    -ms-transition: background-position @time linear;
    transition: background-position @time linear;
}

@fixedHeight:375px; // oli


    #carousel-content{
      text-align: left; // need to keep this left and get the pagination centered
    }


    /* Prevent the slideshow from flashing on load */
    #carousel {
      display: none;
      width:100%;
         
      .slidesjs-container{
      height:@fixedHeight !important;
      padding-bottom: 15px; //oli
        
      }


      a.slidesjs-previous{
        float:left; // !this pulls the prev to the left
      }
      a.slidesjs-next{
        float:right; // !this pulls the prev to the left
      }


    }

    section#carousel-sec{
      display:inline-block;
    }
#carousel {
        text-align: center; // ! this makes the contents centered
    /* Show active item in the pagination */
    ul.slidesjs-pagination {
       display: inline-block; // centering pagination
        margin: 0;// centering pagination
        padding: 0;// centering pagination
        /* For IE, the outcast */
        zoom:1;
        *display: inline;// centering pagination
      list-style: none;
      li{
        float: left; // make the pagination horizontal
         a {
          // this is image positioning stuff
           width: 13px;
           height: 0;
           padding-top: 13px;
           background-image: url(../img/pagination.png);
           background-position: 0 0;
           float: left; // makes the image thingy work
           overflow: hidden;
         }
      }

      li.slidesjs-pagination-item{
        
        a{
          .the-transition(0);

        }
        a.active{
          background-position: 0 -13px;
          .the-transition(0);
        }
        a:hover{
           background-position: 0 -26px;
           .the-transition(0);
        }
      }
    }
}

    ul.slidesjs-pagination .active {

    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      // background-image: url(../img/btns-next-prev.png);
      // background-repeat: no-repeat;
      // display:block;
      // width:12px;
      // height:18px;
      // overflow: hidden;
      // text-indent: -9999px;
      // float: left;
      // margin-right:5px;
      .the-transition(0);
    }
    a:hover.slidesjs-next,
    a:hover.slidesjs-previous,
    a:hover.slidesjs-play,
    a:hover.slidesjs-stop {
      .the-transition(0);
    }
  
    a.slidesjs-next {
      // margin-right:10px;
      // background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      // background-position: -12px -18px;
    }

    a.slidesjs-previous {
      // background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      // background-position: 0 -18px;
    }

    a.slidesjs-play {
      // width:15px;
      // background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      // background-position: -25px -18px;
    }

    a.slidesjs-stop {
      // width:18px;
      // background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      // background-position: -41px -18px;
    }

    /* Media quires for a responsive layout */

    /* For tablets & smart phones */
    @media (max-width: 767px) {
   
      #carousel-sec {
        width: auto;
      }
      #carousel{
        .slidesjs-container{
          height:@fixedHeight !important;
        }
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      #carousel-sec {
        width: auto;
      }
            #carousel{
        .slidesjs-container{
          height:@fixedHeight !important;
        }
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      #carousel-sec {
        width: 724px;
      }
            #carousel{
        .slidesjs-container{
          height:@fixedHeight !important;
        }
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      #carousel-sec {
        width: 1170px;
      }
            #carousel{
        .slidesjs-container{
          height:@fixedHeight !important;
        }
      }
    }