/*carousel*/

    /* Prevent the slideshow from flashing on load */
    #carousel {
      display: none;
    }


    /* Show active item in the pagination */
    .slidesjs-pagination .active {
      color:red;
    }

    /* Media quires for a responsive layout */

    /* For tablets & smart phones */
    @media (max-width: 767px) {
   
      #carousel-sec {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      #carousel-sec {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      #carousel-sec {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      #carousel-sec {
        width: 1170px
      }
    }