// main.less
// here you can fiddle with code
@import url('fonts.less'); // HUHU I am new
@import url('elements.less');
@import url('variables.less');
@import url('animate.less');

.container {
	a:link {
		color: @greenmid;
	}
	a:visited {
		color: @greenlight;
	}
	a:hover {
		color: @greendark; 
		.e_transition(0.2s, ease-out);
	}
}

// --- Seitenkopf und Titel
@letterpress_pad: 60px;

.letterpress-line, .letterpress-line-fluid {
	margin-top: 0.7em;
	margin-bottom: 3em;
	border-top-width: 0px;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.06), rgba(0,0,0,0.15), rgba(0,0,0,0.06));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0.06), rgba(0,0,0,0.15), rgba(0,0,0,0.06));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0.06), rgba(0,0,0,0.15), rgba(0,0,0,0.06));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0.06), rgba(0,0,0,0.15), rgba(0,0,0,0.06)); 
}

#blog-title .depth {
	color: (@blue - #111);
}

section#blog-head #blog-title {
	margin-top: 2em;
	margin-bottom: 2em;
}

section#blog-head #blog-logo {
	margin-top: 2.7em;
}

#blog-logo {
	text-align: center;
}

// --- Liste Aufzaehlungen Nummern und Bullet 
/*.entry-content ol li {
	color: @90grey;
	font-size: 1.25em;
	font-family: 'SourceSansProLight', sans-serif;
	line-height: 1.5em;
}
.entry-content ul li {
	color: @90grey;
	font-size: 1.25em;
	font-family: 'SourceSansProLight', sans-serif;
	line-height: 1.5em;
}*/

h1, h2, h3, h4, h5 {
	color: @blue;
}

h1 {
	font-size: 1.75em;
	font-family: 'SourceSansProSemibold', sans-serif;
	font-weight: normal;
	font-size-adjust: 0.0;
	line-height: 120%;
}

h2 {
	font-size: 1.25em;
	font-family: 'SourceSansProSemibold', sans-serif;
	font-weight: normal;
	font-size-adjust: 0.0;
	line-height: 150%;
	font-weight: normal;
	a{
	font-family: 'SourceSansProRegular', sans-serif;
	font-weight: normal;
	}
}

h3 {
	font-size: 1.25em;
	font-family: 'SourceSansProSemibold', sans-serif;
	font-weight: normal;
	font-size-adjust: 0.0;
	line-height: 150%;
}

h4 {
	font-size: 1.25em;
	font-family: 'SourceSansProLight', sans-serif;
	font-weight: normal;
	line-height: 150%;
}

.entry-content p {
	color: @90grey;
	font-family: 'SourceSansProLight', sans-serif;
	font-weight: normal;
	font-size: 1.25em;
	line-height: 150%;
	a {
		text-decoration: none;
		color: @greenmid;
		font-family: 'SourceSansProRegular', sans-serif;
		font-weight: normal;
		cursor: auto;
	}
	strong {
		font-family: 'SourceSansProRegular', sans-serif;
		font-weight: normal;
		color: @black;
	}
	em {
		font-family: 'SourceSansProLightItalic', sans-serif;
		font-weight: normal;
	}
}

// --- Vor- und Zurück-Navigation
.nav-single {
	font-family: 'SourceSansProSemibold', sans-serif;
	font-style: normal;
	font-size: 1em;
}

// --- Kommentare
.comments-area {
	font-family: 'SourceSansProLight', sans-serif;
	color: @90grey;
	font-size: 1.0em;
	font-weight: normal;
	p {
		color: @90grey;
		font-family: 'SourceSansProLightItalic', sans-serif;
		font-weight: normal;
		font-size: 1.25em;
		line-height: 150%;
	}
	a {
		font-family: 'SourceSansProSemibold', sans-serif;
		font-style: normal;
		font-size: 1em;
	}
	code {
	font-family: 'Source Code Pro', sans-serif;
	font-size: 1em;
	}
	#comment-notes-before {
		color: @90grey;
		font-family: 'SourceSansProLight', sans-serif;
		font-weight: normal;
		font-size: 1.25em;
		line-height: 150%;
	}
	.icon-asterisk {
		font-size: 0.5em;
		vertical-align: super;
		color: @greenmid;
	}
	#author {
		font-family: 'SourceSansProLight', sans-serif !important;
	}
}


code {
	font-family: 'Source Code Pro', sans-serif;
		font-size: 1em;
}


// -- Sidebar

.widget-area {
	a, ul, li {
		line-height: 175%;
		font-family: 'SourceSansProSemibold', sans-serif;
		font-size-adjust: 0.0;
		font-size: inherit;
		color: @greenmid;
		text-decoration: none;
		list-style-type: none;
		text-align: left;
		padding: 0px;
	}
	a:link {
		color: @greenmid;
	}
	a:visited {
		color: @greenlight;
	}
	a:hover {
		color: @greendark;
		.e_transition(0.2s, ease-out);
	}
h5.widget-title {
	font-size: 1.75em;
	font-family: 'SourceSansProSemibold', sans-serif;
	font-weight: normal;
}

}

// --- Autorenseite eingeloggt
section#author-page {
	font-family: 'SourceSansProLight', sans-serif;
	font-size: 1.25em;
	color: @90grey;
	p, li{
		font-size: 1em;
	}
	a {
		font-family: 'SourceSansProRegular', sans-serif;
	}
	ul {
	text-decoration: none;
	list-style-type: none;
	padding: 0px;
	}
}

// --- Scroll-Up
#scrolltop-grid {
#scrolltop {
	//height: 40px;
	background-color: @greenmid;
	@ptop:0px;
	@pright:13px;
	@pbottom:9px;
	@pleft:13px;
    padding:@ptop @pright @pbottom @pleft;
	.e_gradient (@greenmid, @greendark, @greenmid);
	-moz-box-shadow: inset 0px 1px 0px 0px @greenlight;
	-webkit-box-shadow: inset 0px 1px 0px 0px @greenlight;
	box-shadow: inset 0px 1px 0px 0px @greenlight;
	i, cite, em, var, address, dfn {
		font-size: 1.2em;
		padding-top: 0.5em;
	}
}
}

// --- Fuss
footer a {
	color: @chamois;
	font-size: 1em;
	font-family: 'SourceSansProSemibold', sans-serif;
	font-size-adjust: 0.0;
	letter-spacing: 1px;
	line-height: 2.4em;
	vertical-align: bottom;
	text-decoration: none;
	cursor: auto;
	a:link {
		color: @chamois;
	}
	a:visited {
		color: @chamois;
	}
	a:hover {
		color: @chamois;
		.e_transition(0.2s, ease-out);
	}	
}
.icon-wrench {
	vertical-align: top;
	padding-top: 0.75em;
}

.icon-signin {
	vertical-align: top;
	padding-top: 0.75em;
}

.icon-signout {
	vertical-align: top;
	padding-top: 0.75em;
}

@footerheight: 40px;
footer{
	margin-top: -@footerheight; /* negative value of footer height */
	height: @footerheight; // sticky-footer!
	.e_gradient (@greenmid, @greendark, @greenmid); 
	-moz-box-shadow: inset 0px 1px 0px 0px @greenlight;
	-webkit-box-shadow: inset 0px 1px 0px 0px @greenlight;
	box-shadow: inset 0px 1px 0px 0px @greenlight;	
} 

// --- Navi
.sf-menu {
	line-height: 0.7em;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	top: 2.2em; /* match top ul list item height */
	line-height: 0.7em;
}


.sf-navbar {
	.e_gradient (@redmid, @reddark, @redmid);
	-moz-box-shadow: inset 0px 1px 0px 0px @redlight;
	-webkit-box-shadow: inset 0px 1px 0px 0px @redlight;
	box-shadow: inset 0px 1px 0px 0px @redlight;
	height: 2.2em;
	padding-bottom: 0em;
}

.sf-navbar a {
	color: @chamois;
	text-shadow: 0px 1px 0px @redshadow;
	font-family: 'SourceSansProSemibold', sans-serif;
	font-size-adjust: 0.0;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;		
}
.sf-navbar a, .sf-navbar a:visited {
	color:	@chamois;
}		
.sf-navbar a:hover {
	color: @white;
	text-shadow: 0px 1px 0px @redshadow;
	background: @reddark;
	-moz-box-shadow: inset 0px 1px 0px 0px @redlight;
	-webkit-box-shadow: inset 0px 1px 0px 0px @redlight;
	box-shadow: inset 0px 1px 0px 0px @redlight;
}

.sf-navbar ul li {
	.e_gradient (@greenmid, @greendark, @greenmid); 
	-moz-box-shadow: inset 0px 1px 0px 0px @greenlight;
	-webkit-box-shadow: inset 0px 1px 0px 0px @greenlight;
	box-shadow: inset 0px 1px 0px 0px @greenlight;
	height: 2.2em;
}	
.sf-navbar ul li a {
	color: @chamois;
	text-shadow: 0px 1px 0px @greendark;
	font-family: 'SourceSansProSemibold', sans-serif;
	font-size-adjust: 0.0;
	text-transform: capitalize;
	letter-spacing: 1px;
	text-decoration: none;		
}
.sf-navbar ul li a, .sf-navbar ul li a:visited {
	color: @chamois;
}		
.sf-navbar ul li a:hover {
	color: @white;
	background: @greendark;
	-moz-box-shadow: inset 0px 1px 0px 0px @greenlight;
	-webkit-box-shadow: inset 0px 1px 0px 0px @greenlight;
	box-shadow: inset 0px 1px 0px 0px @greenlight;
}

// --- Suche Lupe
ul#desktop-search {
	margin-top: 0.45em;
	margin-right: 0em;
	margin-left: 0em;
	margin-bottom: 0em;
	position: absolute;
	top: 0em;
	right: 5em;
	li i {
		color: @chamois;
		font-size: 1.2em;
	}
}

// --- Suche Placehoder text styling
::-webkit-input-placeholder {
	font-family: 'SourceSansProSemibold', sans-serif;
	font-size: 0.7em;
	padding-top: 0.2em;
	padding-left: 0.4em;
	color: (@chamois - #444);
}

:-moz-placeholder { /* Firefox 18- */
	font-family: 'SourceSansProSemibold', sans-serif;
	font-size: 0.7em;
	padding-top: 0.2em;
	padding-left: 0.4em;
	color: (@chamois - #444);
}

::-moz-placeholder {  /* Firefox 19+ */
	font-family: 'SourceSansProSemibold', sans-serif;
	font-size: 0.7em;
	padding-top: 0.2em;
	padding-left: 0.4em;
	color: (@chamois - #444);
}

:-ms-input-placeholder {
	font-family: 'SourceSansProSemibold', sans-serif;
	font-size: 0.7em;
	padding-top: 0.2em;
	padding-left: 0.4em;
	color: (@chamois - #444);
}

// --- Searchform 1. Instanz
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-size: 0.7em;
	padding-top: 0.2em;
	padding-left: 0.4em;
	font-family: 'SourceSansProBold', sans-serif;
	font-size-adjust: 0.0;
	color: (@chamois - #444);
}


/*.ui-widget{
	form#searchform{
		font-size: 0.8em;
		font-family: 'SourceSansProBold', sans-serif;
		font-size-adjust: 0.0;
		color: (@chamois - #333); 
		padding-left: 0.7em;
	input.ui-autocomplete-input{
		width: 110px;
		height: 27px;
		margin-top: 0.1em;
		.e_border-radius(15px,15px,15px,15px);
	}
	input:focus{
		background-color: @chamois;
	}
  	}
} 

input, input[type="password"], input[type="search"], isindex {
	-webkit-appearance: textfield;
	padding: 1px;
	background-color: @chamois;
	border: 1px solid @reddark;
	border-image: initial;
	//-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}

// --- Searchform 2. Instanz
ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
	li.ui-menu-item {
		a.ui-corner-all {
		font-size: 1.1em;
		font-family: 'SourceSansProSemibold', sans-serif;
		font-size-adjust: 0.0;
		color: (@chamois - #333);
		}
		a.ui-corner-all:hover {
		}
  	}
}*/




