// main.less
// here you can fiddle with code

@import url('elements.less');


@blue:#08618f;
@90grey:#3c3c3b;
@35grey:#a6a6a6;
@greenlight:#98c230;
@greenmid:#5aa332;
@greendark:#348d43;
@redlight:#e94d1d;
@redmid:#e11714;
@reddark:#b81714;
@redshadow:#8d1a1e;
@chamois:#ecdfcb;
@white:#ffffff;
@black:#000000;



body{
font-family: 'Source Sans Pro', sans-serif;



h1{
	color: @blue;
	font-size: 2.1em;
	font-weight: 600;
	line-height: 1.2;
}
h1#title{
	color: @blue;
	font-size: 5em;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: -2px;
}
h2{
	color: @blue;
	font-size: 1.4em;
	font-weight: 600;
	line-height: 1.5em;
}
h2#marginalia{
	color: @greenmid;
	font-size: 1.3em;
	font-weight: 600;
	line-height: 1.7em;
}
h3{
	color: @blue;
	font-size: 1.4em;
	font-weight: 300;
	line-height: 1.5em;
}
h4{
	color: @blue;
	font-size: 1.1em;
	font-weight: 700;
	line-height: 1.5em;
	a:link {color:@greenmid; text-decoration:none; font-weight: 700}
	a:visited {color:@greenlight; text-decoration:none; font-weight: 700}
	a:active {color:@greendark; text-decoration:none; font-weight: 700}
	a:hover {color:@greendark; text-decoration:none; font-weight: 700}

}
p{
	color: @90grey;
	font-size: 1.4em;
	font-weight: 300;
	line-height: 1.5em;
	a:link {color:@greenmid; text-decoration:none; font-weight: 400}
	a:visited {color:@greenlight; text-decoration:none; font-weight: 400}
	a:active {color:@greendark; text-decoration:none; font-weight: 400}
	a:hover {color:@greendark; text-decoration:none; font-weight: 400}
	.bold{
		font-weight: 400;
		color: @black;
		}
	.italic{
		font-style: italic;
		}

}

/* --- styles.less overwrite --- */

#site-title{
  // .row(12);
@titleHeight:4em;
span#blogname{
  
	color: @blue;
	line-height: 1.2;
  	margin-left: 0px;
  	height:@titleHeight;
  	width:100%;
  	text-align: center;
  	font-size: 3.5em;
  	font-weight: 700;
  	vertical-align: middle;
  	letter-spacing: -1px;

img#logo{
    height:100px;
    width:100px;
    padding-right:0.2em;
    vertical-align: middle;
    text-align: center;
}
}
}



/* --- styles.less overwrite ENDE --- */



.sf-navbar {
	.e_gradient (@redmid, @reddark, @redmid); 
	-moz-box-shadow: inset 0px 1px 0px 0px @redlight;
	-webkit-box-shadow: inset 0px 1px 0px 0px @redlight;
	box-shadow: inset 0px 1px 0px 0px @redlight;
	height:			2.8em;
}
.sf-navbar li ul.children {
		top: 45px;
	}

.sf-navbar a {
		color: @chamois;
		text-shadow: 0px 1px 0px @redshadow;
		font-size: 1.1em;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		text-decoration: none;		
		}
.sf-navbar a, .sf-navbar a:visited {
	color:			@chamois;
}		
.sf-navbar a:hover {
		color: @white;
		text-shadow: 0px 1px 0px @redshadow;
		background: @reddark;
		-moz-box-shadow: inset 0px 1px 0px 0px @redlight;
	    -webkit-box-shadow: inset 0px 1px 0px 0px @redlight;
	    box-shadow: inset 0px 1px 0px 0px @redlight;
}

.sf-navbar ul li {
	.e_gradient (@greenmid, @greendark, @greenmid); 
		-moz-box-shadow: inset 0px 1px 0px 0px @greenlight;
	    -webkit-box-shadow: inset 0px 1px 0px 0px @greenlight;
	    box-shadow: inset 0px 1px 0px 0px @greenlight;
	    height: 3em;
}	
.sf-navbar ul li a {
		color: @chamois;
		text-shadow: 0px 1px 0px @greendark;
		font-size: 1.1em;
		font-weight: 600;
		text-transform: capitalize;
		letter-spacing: 1px;
		text-decoration: none;		
		}
.sf-navbar ul li a, .sf-navbar ul li a:visited {
	color:			@chamois;
}		
.sf-navbar ul li a:hover {
		color: @white;
		background: @greendark;
		-moz-box-shadow: inset 0px 1px 0px 0px @greenlight;
	    -webkit-box-shadow: inset 0px 1px 0px 0px @greenlight;
	    box-shadow: inset 0px 1px 0px 0px @greenlight;
}
/*****************************
//IN SEARCHFORM.PHP
******************************/
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
			font-family: 'Source Sans Pro', sans-serif;
	    	font-size: 0.8em;
	    	font-weight: 600;
	    	color: (@chamois - #333); 
	    	padding-left: 0.7em;

}

.ui-widget{
  form#searchform{
    input.ui-autocomplete-input{
      width: 110px;
      height: 27px;
      margin-top: 0.1em;
     .e_border-radius(15px,15px,15px,15px);
          }
    input.s{
    	color: (@chamois - #333);
    }
    input:focus{
      background-color: @chamois;
    }
  }
} 

input, input[type="password"], input[type="search"], isindex {
-webkit-appearance: textfield;
padding: 1px;
background-color: @chamois;
border: 1px solid @reddark;
border-image: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}

/*end widget*/

/*****************************
//END OF SEARCHFORM.PHP
******************************/

ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
// width:100px;
  li.ui-menu-item{
  // width: 100px;
    a.ui-corner-all {
    	font-size: 1.1em;
      	font-weight: 600;
      	color: (@chamois - #333);

    }
    a.ui-corner-all:hover {

    
    }
  }

}
/**
 * RESET some JQUI stuff to get rid of the 
 * background image that gets included in the jqui css
 */
.ui-widget-content,
.ui-widget-header,
/* Interaction states

----------------------------------*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  	background:@chamois !important;

  	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.8em;
	font-weight: 600;
	color:(@chamois - #333); 
	padding-left: 0.7em;
  .e_border-radius(0,0,0,0);
}



// This is for blind people
// Damn it it pushes around the listitem
// This should be some how ther. But how?
span.ui-helper-hidden-accessible{
  visibility: hidden;
  display:none;
}
/*****************************
// END OF JQUI OVERWRITE
******************************/
}

