// --------------------------------------------
// 
// Typography
// -------------------------
@sansFontFamily:        'Source Sans Pro', sans-serif;
@serifFontFamily:       @sansFontFamily;

@baseFontFamily:        @sansFontFamily;

// // Grays
// // -------------------------




/********************
 * STICKY FOOTER HEIGHT
 */
@footerheight: 40px;


/**
 * OO NAOK COLORS
 */
@blue:#08618f;
@90grey:#3c3c3b;
@35grey:#a6a6a6;
@greenlight:#98c230;
@greenmid:#5aa332;
@greendark:#348d43;
@redlight:#e94d1d;
@redmid:#e11714;
@reddark:#b81714;
@redshadow:#8d1a1e;
@chamois:#ecdfcb;
@black:    #000;
@white:    #fff;


/******************************
THE SEMANTIC GRID
http://semantic.gs/
*******************************/

// This is semantic.gs variables
// 
@column-width: 60;
@gutter-width: 20;
@columns: 12;
@total-width: 100%;
